.playButton {
  width: 160px;
  height: 60px;
  font-family: 'VT323', sans-serif;
  font-size: 48px;
  color: #ffffff;
  border-radius: 60px;
  cursor: pointer;
}

.activePlayButton {
  background-color: #d4cce8;
}

.desactivePlaybutton {
  background-color: #b6b6b6;
  cursor: initial;
}
